---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token?client_id=3MVG9yZ.WNe6byQDDY.I2LMxgXZP6VfNwpnPNPRnkgbkvr5OeCoLBVphJZwFPGn2kpoCSkMvYna8SWpo6VrCL&client_secret=560135035990941505&grant_type=password&password=ELUTo419249i2dwDe3FsQO3C64Lp4Bz5QOU&username=liam@nediger.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://login.salesforce.com/id/00DA0000000gAclMAE/005A0000001r9iBIAQ","issued_at":"1344889960627","instance_url":"https://na7.salesforce.com","signature":"5ClCdFQJxGzud9DoU7tLYATA47fesLkWffM9DSBLahI=","access_token":"00DA0000000gAcl!AREAQGc1U03vGp1Xn4979.S1c6slvnFMJf4n7A_mPwxR7S_D7wQAQeM476aSwKw5XyPDkwMEd7P1S3bxiWkJy62GKIt2.IJn"}'
  recorded_at: Mon, 13 Aug 2012 20:32:43 GMT
recorded_with: VCR 2.2.4
